<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>IRMS</display-name>
  <welcome-file-list>
    <welcome-file>landingPage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>studentRegister</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentLogin</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>systemRegStudent</servlet-name>
    <servlet-class>com.servlet.StudentSystemRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>systemRegStudent</servlet-name>
    <url-pattern>/StudentSysReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>systemRegSupervisor</servlet-name>
    <servlet-class>com.servlet.SupervisorSystemRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>systemRegSupervisor</servlet-name>
    <url-pattern>/SupervisorSysReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>systemRegCoordinator</servlet-name>
    <servlet-class>com.servlet.CoordinatorSystemRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>systemRegCoordinator</servlet-name>
    <url-pattern>/CoordinatorSysReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InternshipStudentReg</servlet-name>
    <servlet-class>com.servlet.Internship_Student_Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternshipStudentReg</servlet-name>
    <url-pattern>/internshipstdudent</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>sliit.irms@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>sliit.2020</param-value>
  </context-param>
  <servlet>
    <servlet-name>supervisor_reg</servlet-name>
    <servlet-class>com.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supervisor_reg</servlet-name>
    <url-pattern>/SupRegister</url-pattern>
  </servlet-mapping>
</web-app>